<h1>Tarefas</h1>

<table class="table  table-striped table-hover table-bordered"> 
    <caption>Lista de tarefas</caption>
    <thead>
        <th>Tarefa</th>
        <th>Concluída</th>
        <th class="text-center">
            <app-btn-adicionar></app-btn-adicionar>
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deleniti maiores sed tenetur cumque officiis minus adipisci sit, cupiditate aspernatur est nesciunt exercitationem, accusantium expedita quasi mollitia magnam cum non.
            </td>
            <td class="text-center" style="width: .4em">
                <input type="checkbox">
            </td>
            <td class="text-center" style="width: 20rem">
                <app-btn-editar></app-btn-editar>
                <app-btn-remover></app-btn-remover>
            </td>
        </tr>
    </tbody>
</table>

<p>Nenhuma tarefa cadastrada.</p>