<h1>Tarefas</h1>

<table class="table  table-striped table-hover table-bordered"> 
    <caption>Lista de tarefas</caption>
    <thead>
        <th>Tarefa</th>
        <th>Concluída</th>
        <th class="text-center">
            <app-btn-adicionar></app-btn-adicionar>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let tarefa of tarefas">
            <td [class.success]="!tarefa.concluida"> 
                {{ tarefa.nome }} 
            </td>
            <td class="text-center" style="width: .4em"> 
                <input 
                    type="checkbox" 
                    [value]="tarefa.id"
                    [checked]="tarefa.concluida">
            </td>
            <td class="text-center" style="width: 20rem">
                <app-btn-editar></app-btn-editar>
                <app-btn-remover></app-btn-remover>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="tarefas.length==0">Nenhuma tarefa cadastrada.</p>